# Ignore virtualenv artifacts
/bin/**
!/bin/testme
!/bin/app-env
!/bin/local-env
coverage/**
include/**
lib/**
man/**
src/api/__pycache__
src/dm/__pycache__
src/dm/smoacks/__pycache__
src/util/__pycache__
tests/__pycache__
muam/__pycache__
muam/cli/__pycache__
muamdb/__pycache__
muamdb/versions/__pycache__
build/**
muam.egg-info/**
dist/**
.Python
