/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 200px;
  max-width: 200px;
  background: #7386D5;
  color: #fff;
/*   margin-left: -200px; */
  transition: all 0.5s;
  z-index: 2;
}

.sidebar.is-open {
/*  margin-left: 0; */
  transition: .5s;
  min-width: 60px;
  max-width: 60px;
}

.sidebar.is-open .nav-item .nav-link span {
  display: block;
}

.sidebar .nav-item .nav-link span {
  display: inline;
  font-size: .65rem;
  color: white !important;
}

.sidebar ul.nav {
  text-align: left;
}

.sidebar a.nav-link {
  color: white !important;
}

.sidebar a.nav-link:active span, .sidebar a.nav-link:active svg {
  color: blue !important;
}

.sidebar a.nav-link:hover span, .sidebar a.nav-link:hover svg {
  color: blue !important;
}

.sidebar-header {
  background: #6d7fcc;
}

.sidebar .sidebar-header .closed {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*
.sidebar.is-open .sidebar-header h3 {
  display: none;
}
*/

.sidebar-header h3{
  color: #fff;
  padding: 1em;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.menu-open {
  background: #6d7fcc;
}

.nav-item:hover {
    color: #7386D5;
    background: #fff;
}

.items-menu {
  color: #fff;
  background: #6d7fcc;
}

li a.dropdown-toggle::after {
    display: inline-flex;
    position: relative;
    left: 60%;
    top: 10%
}

.sidebar-header > a {
    position: relative;
    float: right;
    margin: .5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
